<!DOCTYPE html>
<html>
<head lang="en">
    {% include "_header.html" %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('page_list') }}">Astatum</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">


    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('page_list') }}">Main</a></li>
                <li><a href="{{ url_for('archive_page_list') }}">Archive</a></li>
                <li class="active"><a href="{{ url_for('log_page') }}">Log</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{#            <h2 class="page-header">Log</h2>#}

            <div class="container-fluid main">
                <table class="table table-responsive table-striped table-condensed ">

                    <tbody>
                    {% for cur_row in tab_values %}
                        <tr>

                            <td class="active text-center">
                                <div class="text-info glyphicon glyphicon-{{ cur_row['src_key'] }}"></div>
                            </td>

                            <td class="text-center">
                                <b>{{ cur_row['time_stamp'].strftime('%Y-%m-%d %H:%M') }}</b>
                            </td>

                            <td>
                                <span class="text-left">
                                        <a href="{{ cur_row['url'] }}">{{ cur_row['title']|truncate(100) }}</a>
                                </span>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{#    {% for post in posts.items %}#}
{#    {% endfor %}#}
{#{% if posts.has_prev %}#}
{#    <a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>#}
{#{% else %}<< Newer posts#}
{#{% endif %} |#}
{#{% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts#}
{#    >>{% endif %}#}