<!DOCTYPE html>
<html>
<head lang="en">
    {% include "_header.html" %}
</head>

<body>
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{{ message|truncate(100) }}</p>
        </div>
    {% endfor %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <br>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <table class="table table-responsive table-hover table-condensed table-striped">

                    {#                    <thead>#}
                    {#                    <tr>#}
                    {#                        <th class="text-left"></th>#}
                    {#                        <th class="text-left"></th>#}
                    {#                        <th class="text-left"></th>#}
{#                        <th class="text-center"><span class="glyphicon glyphicon-trash"></span></th>#}
                    {#                    </tr>#}
                    {#                    </thead>#}

                    <tbody>
                    {% for cur_row in tab_values %}
                        <tr>

{#                            <td class="active text-left col-sm-2">{{ cur_row['time_stamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>#}
                            <td class="text-left"><a
                                    href="{{ url_for('view_page', page = cur_row['id']) }}">{{ cur_row['title']|truncate(80) }}</a>
                            </td>

                            <td class="text-center">
                                <a title="Удалить"  href="{{ url_for('del_page', page_id = cur_row['id']) }}"
                                   class="glyphicon glyphicon-remove-circle red">
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

        <div class="panel-footer">
            <a ondragend="this.click();" title="Закладка: перетащите и опустите ссылку на панель закладок"
               href="javascript:{(function(){var%20url%20=%20location.href%20||%20url;window.open('{{ url_for('save_page', _external=True) }}?action=add&key={{ secret }}&url='%20+%20btoa(url),'_self');})();void(0);}"
               class="btn btn-default btn-primary btn-sm btn-block"><span
                    class="glyphicon glyphicon-plus-sign"></span>
                В закладки!</a>
        </div>

    </div>
</div>

</body>
</html>
{#    {% for post in posts.items %}#}
{#    {% endfor %}#}
{#{% if posts.has_prev %}#}
{#    <a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>#}
{#{% else %}<< Newer posts#}
{#{% endif %} |#}
{#{% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts#}
{#    >>{% endif %}#}