<!doctype html>
<html>
<head lang="en">
    {% include "_header.html" %}
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('page_list') }}">Astatum</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('page_list') }}">Main</a></li>
                <li><a href="{{ url_for('archive_page_list') }}">Archive</a></li>
                <li>
                    <hr>
                </li>
                <li><a href="{{ post.url }}"><span class="glyphicon glyphicon-file"></span> Оригинал</a></li>
                <li><a href="{{ url_for('save_page_to_archive', page_id = post['id']) }}"><span class="glyphicon glyphicon-bookmark"></span> В архив</a></li>
                <li>
                    <hr>
                </li>
                <li><a class="text-danger" href="{{ url_for('del_page', page_id = post['id'], next = ref) }}"><span
                        class="glyphicon glyphicon-trash red"></span> Удалить</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{ post.title }}</h1>
            {% autoescape false %}
            {{ post.body }}
            {% endautoescape %}
        </div>
    </div>
</div>
</body>
</html>
